@import "compass/reset";
@import "compass/reset/utilities";
@import "fonts";
// @import "flexslider";
@import "compass/css3";

body{
	background: #f7f7f7;
	font-family: "proxima-nova-1","proxima-nova-2", Hevetica, sans-serif;
}

::-moz-selection { background: #FEEDB0; color: #000; text-shadow: none; }
::selection { background: #FEEDB0; color: #000; text-shadow: none; }

.wrapper{
	background: #FFF;
	position: relative;
	border-top: 1px solid #EEEEEE; 
	.content{
		width: 1200px;
		margin: 0 auto;
		position: relative;
	}
	&.head{
		background: #f7f7f7;
		.nav{
			width: 1200px;
			margin: 0 auto;
			padding-left: 30px;
			padding-right: 30px;
			@include box-sizing(border-box);
		}
	}
	&.footnotes{
		background: #f7f7f7;
		.content{
			padding-top: 0px;
		}
	}

}

.bumpy{
	width: 100%;
	position: fixed;
	height: 30px;
}

.content{
	@include box-sizing(border-box);
	padding: 40px 40px;
	padding-bottom: 0px;
	position: relative;
	z-index: 2;
	&:after{
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

.nav ul li{
	position: relative;
	@include transition();
}
.nav ul li ul{
	display:none;
	width: 205px;
	background: #ffd167;
	position: absolute;
	z-index: 3;
	right: 0px;
	margin-top: 7px;
	padding: 13px 20px 5px 20px;
	@include transition(.25s);
	li{
		display: block;
		padding-top: 4px;
		a{
			color: #222;
			text-transform: capitalize;
			letter-spacing: 0px;
			display: block;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}

.nav ul li.collections:hover ul{
	display: block;
}

.nav{
	padding-top: 50px;
	padding-bottom: 25px;
	position: relative; 
	z-index: 6;
	h1{
		display: inline-block;
		font-size: 1.25em;
		.gem{
			background: url('../images/thewhyaxis.png');
			background-size: 29px 25px;
			display: block;
			width: 29px;
			height: 25px;
			float: left;
			margin-top: -3px;
			margin-right: 7px;
		}
		a{
			text-decoration: none;
			color: #333;
		}
	}
	ul{
		float: right;
		display: inline-block;
		li{
			display: inline-block;
			padding-left: 3px;
			a{
				text-decoration: none;
				color: #888;
				text-transform: uppercase;
				font-weight: 600;
				letter-spacing: 1px;
				padding: 5px;
				&:hover{
					color: #333;
				}
			}
		}
		&:after{
			clear: both;
			content: ".";
			visibility: hidden;
			height: 0;
		}
	}
}

.archives{
	.archive-item{
		display: block;
		width: 100%;
		h2{
			display: inline;
			a{
				font-weight: bold;
				text-decoration: none;
				font-size: 1.75em;
				color: #333;
				border-bottom: 1px solid #FFF;
				line-height: 120%;
				margin-bottom: 16px;
				display: inline-block;
			}
		}
		.cover{
			width: 100%;
			float: left;
			padding-bottom:50px;
			margin-bottom: 10px;
			border-bottom: 1px solid #ccc;
			img{
				width: 150px;
				margin-bottom: 10px;
				float: left;
				margin-right: 10px;
			}
			&:after{
				clear: both;
				content: ".";
				visibility: hidden;
				height: 0;
			}
			&:hover{
				border-bottom: 1px solid #ccc;
			}
		}
		.date{
			font-weight: bold;
			color: #ccc;
			margin-top: 6px;
			font-size: .91em;
			float: right;
		}
		&:after{
			clear: both;
			content: ".";
			visibility: hidden;
			height: 0;
		}
		&:hover{
			h2{
				a{
					color: #e8b64e;
				}
			}
		}
	}

	&:after{
		clear: both;
		content: ".";
		visibility: hidden;
		height: 0;
	}
}

ul.articles{
	li{
		overflow: auto;
  		zoom: 1;
		display: block;
		padding-bottom: 60px;
		.hero{
			width: 35%;
			float: left;
			img{
				width: 100%;
			}
		}
		.listing{
			width: 65%;
			float: left;
			@include box-sizing(border-box);
			padding: 0px 0px 0px 30px;
			a{
				font-weight: bold;
				text-decoration: none;
				font-size: 1.75em;
				color: #333;
				border-bottom: 1px solid #FFF;
				line-height: 120%;
				margin-top: -8px;
				display: inline;
				&:hover{
					border-bottom: 1px solid #e8b64e;
				}
			}
			.date{
				font-weight: bold;
				color: #ccc;
				margin-top: 14px;
				margin-bottom: 25px;
				font-size: .91em;
			}
			.excerpt{
				line-height: 143%;
				margin-top: 10px;
			}
		}
	}
}

.article{
	position: relative;
	h1{
		font-weight: bold;
		font-size: 2em;
		width: 40%;
		margin-bottom: 30px;
		line-height: 105%;
		a{
			text-decoration: none;
			color: inherit;
			&:hover{
				color: #f2bb4c;
			}
		}
	}
	.timestamp{
		position: absolute;
		top: 0;
		right: 2px;
		font-weight: bold;
		color: #ccc;
		font-size: .91em;
	}
	h2{
		font-size: 1.45em;
		font-weight: bold;
		margin-bottom: 1em;
	}
	.section{
		display: block;
		padding-bottom: 40px;
		width: 42%;
		@include box-sizing(border-box);
		padding-right: 2%;
		&:after{
			content: ".";
			display: block;
			height: 0;
			clear: both;
			visibility: hidden;
		}
		p{
			line-height: 146%;
			//margin-bottom: 1.25em;
			padding-bottom: 1.25em;
			color: #222;
			font-size: 1.05em;
			a{
				border-bottom: 1px solid #e8b64e;
				color: #000;
				text-decoration: none;
				&:hover{
					background: #FEF9E3;
				}
			}
			em{
				font-style: italic;
			}
		}
		ul{
			list-style: disc;
			padding-left: 25px;
			padding-right: 10px;
			margin-bottom: 0.75em;
			li{
				padding-bottom: 8px;
				line-height: 145%;
				a{
					border-bottom: 1px solid #e8b64e;
					color: #000;
					text-decoration: none;
					&:hover{
						background: #FEF9E3;
					}
				}
			}
		}
		blockquote{
			display: inline;
			p{
				background: #FCF4D5;
				padding: 18px 20px 15px 20px;
				margin-bottom:1.25em;
				line-height: 135%;
			}
		}
		.graphic{
			width: 135%;
			float: right;
			margin-right: -149%;
			img{
				width: 100%;
				// max-width: 600px;
			}
			&.fixto-fixed{
			}
		}
	}
}

.comment-prompt{
	background: #FFF;
	border: 1px solid #e6e7e8;
	color: #444;
	font-weight: bold;
	text-decoration: none;
	padding: 16px 15px 15px 14px;
	@include border-radius(4px);
	display: block;
	float: left;
	margin-right: 15px;
	margin-top: 30px;
	span{
		font-size: .9em;
		padding-right: 5px;
		padding-top: 2px;
	}
	span.permalink{
		font-size: 1em;
		color: #CCC;
		padding-left: 3px;
	}
	&:hover{
		color: #f2bb4c;
		border-color: #f2bb4c;
	}
}

.permalink{
	margin-top: 30px;
	padding: 3px 5px 4px 12px;
	@include border-radius(4px);
	display: block;
	float: left;
	border: 1px solid #D9D9D9;
	background: #EBEBEB;
	font-size: 1em;
	font-family: "proxima-nova-1","proxima-nova-2", Hevetica, sans-serif;
	.permalabel{
		font-weight: bold;
	}
	input{
		padding: 8px 8px 6px 8px;
		font-size: 1em;
		width: 263px;
		@include border-radius(3px);
		border: 1px solid #D0D0D0;
		margin-left: 4px;
		font-family: "proxima-nova-1","proxima-nova-2", Hevetica, sans-serif;

	}
}

.article-extension{
	&:after{
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

.footgrid{
	margin-top: 40px;
	padding-bottom: 60px;
	li{
		width: 24%;
		float: left;
		margin-right: 1%;
		@include box-sizing(border-box);
		@include border-radius(3px);
		background: #FFF;
		padding: 10px;
		border: 1px solid #e6e7e8; 
		img{
			width: 100%;
			margin-top: 8px;
		}
		h2{
			line-height: 120%;
			a{
				text-decoration: none;
				color: #333;
				font-size: 1.2em;
				font-weight: bold;
				&:hover{
					color: #f2bb4c;
				}
			}
		}
	}
	&:before, &:after{
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

.view-archives{
	padding: 14px 12px 14px 12px;
	@include border-radius(4px);
	display: block;
	border: 1px solid #D9D9D9;
	background: #EBEBEB;
	font-size: 1em;
	margin: 0 auto;
	width: 200px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	color: #444;
	margin-bottom: 100px;
	&:hover{
		color: #222;
		background: #D9D9D9;
	}
}

.previously{
	width: 100%;
	background: #FFF;
	@include box-sizing(border-box);
	@include border-radius(3px);
	background: #FFF;
	height: 325px;
	overflow: hidden;
	padding: 30px;
	border: 1px solid #e6e7e8; 
	margin-top: 50px;
	margin-bottom: -100px;
	position: relative;
	bottom: -20px;
	@include opacity(.5);
	@include transition(.25s);
	&:hover{
		@include opacity(1);
		bottom: -2px;
	}
	img{
		width: 50%;
		float: right;
	}
	h2{
		width: 50%;
		float: left;
		display: block;
		a{
			text-decoration: none;
			color: #333;
			line-height: 120%;
			font-size: 2em;
			font-weight: bold;
			&:hover{
				color: #f2bb4c;
			}
		}
	}
	.previously-tag{
		background: #f2bb4c;
		color: #444444;
		background: #EBEBEB;
		font-weight: bold;
		padding: 12px 14px 12px 14px;
		@include border-radius(4px);
		float: left;
		margin-right: 400px;
		margin-bottom: 10px;
	}
	&:after{
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}

}

#subscribebtn{
	background: #e6e7e8;
	color: #444;
	font-weight: bold;
	text-decoration: none;
	padding: 12px 14px 12px 14px;
	@include border-radius(2px);
	width: 45%;
	display: block;
	margin-top: -25px;
	position: relative;
	z-index: 5;
	&:hover{
		background: #e8b64e;
		color: #FFF;
	}
	span{
		margin-right: 4px;
	}

}

.footleft{
	width: 45%;
	padding-left: 0px;
	padding-right: 60px;
	padding-top: 40px;
	float: left;
	@include box-sizing(border-box);
	position: relative;
	z-index: 1;
}

.footright{
	width: 55%;
	float: right;
	@include box-sizing(border-box);
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 40px;
}

#disqus_thread{
	padding-bottom: 300px;
	font-family: "proxima-nova-1","proxima-nova-2", Hevetica, sans-serif !important;
	a{
		color: #e8b64e;
	}
}

.article-meta{
	width: 100%;
	padding-right: 60px;
	margin-bottom: 30px;
	@include box-sizing(border-box);
	ul{
		
		padding: 0px 20px 20px 0px;
		
		//border-top: 2px solid #D1D2D4;
		li{
			color: #444;
			font-weight: bold;
			padding-top: 14px;
			.meta-label{
				//width: 135px;
				display: inline-block;
				padding-right: 6px;
				width: 115px
			}
			a{
				color: #222;
				font-weight: normal;
				background: #FCF3D5;
				text-decoration: none;
				@include border-radius(3px);
				padding: 2px 6px;
				&:hover{
					color: #111;
					background: #F7E39F;
				}

			}
		}
	}
}

h3{
	font-weight: bold;
	border-bottom: 2px solid #E1E3E5;
	padding-bottom: 12px;
	padding-top: 12px;
	margin-bottom: 22px; 
	color: #3f4549;
}

.relatedcontent{
	li{
		background: #FFF;
		@include box-sizing(border-box);
		padding: 20px;
		@include border-radius(3px);
		margin-bottom: 16px;
		&:after{
			content: ".";
			display: block;
			height: 0;
			clear: both;
			visibility: hidden;
		}
		img{
			width: 100%;
			//float: left;
		}
		h2{
			width: 100%;
			//float: left;
			@include box-sizing(border-box);
			//padding-left: 15px;
			margin-bottom:12px;
			a{
				text-decoration: none;
				font-weight: bold;
				color: #444;
				line-height: 115%;
				font-size: 1.4em;
				&:hover{
					color: #f2bb4c;
				}
			}
		}
	}
}

.reactions{
	margin-bottom: 40px;
}

.collection-pg .collection-hero{
	width: 100%;
	left: 0;
	z-index: 4;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	img{
		width: 100%;
		position: absolute;
	}
}

.collections-pg .collection-hero{
	width: 32%;
	margin-right: 2%;
	display: block;
	float: left;
	margin-bottom: 20px;
	height: 400px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	.collection-description{
		width: inherit;
	}
	img{
		position: relative;
	}
}

ul.slides li:nth-child(3n+3){
	margin-right: 0px;
}

.collection-hero.process{
	background-image: url('../../content/process/hero-h.jpg');	  
}

.collection-hero.tools{
	background-image: url('../../content/tools/hero-h.jpg');	  
}

.collection-hero.storytelling{
	background-image: url('../../content/storytelling/hero-h.jpg');	  
}

.collection-hero.print-web{
	background-image: url('../../content/print-web/hero-h.jpg');	  
}

.collection-hero.remakes{
	background-image: url('../../content/remakes/hero-h.jpg');	  
}

.collection-hero.open-source{
	background-image: url('../../content/open-source/hero-h.jpg');	  
}

.collection-hero.journalism{
	background-image: url('../../content/journalism/hero-h.jpg');	  
}

.collection-hero.climate-change{
	background-image: url('../../content/climate-change/hero-h.jpg');	  
}

.collection-description{
	z-index: 5;
	color: #FFF;
	width: 1200px;
	left: 50%;
	margin: 0 auto;
	@include box-sizing(border-box);
	padding-right: 50%;
	padding-top: 60px;
	padding-bottom: 120px;
	h1{
		font-weight: bold;
		font-size: 2em;
		margin-bottom: .75em;
		margin-left: 35px;
	}
	p{
		line-height: 135%;
		font-size: 1.1em;
		margin-left: 35px;
	}
}

.collection-pg .content{
	z-index: 6;
	background: #FFF;
	width: 100%;
	.article{
		width: 1200px;
		margin: 0 auto;
		@include box-sizing(border-box);
		padding-left: 40px;
		padding-right: 40px;
		padding-bottom: 100px;
	}
	.section{
		width: 100%;
		//border-bottom: 5px solid #f4f4f4;
		padding-bottom: 40px;
		padding-top: 60px;
		img{
			margin-bottom: 12px;
			float: left;
			width: 35%;
			margin-right: 3%;
		}
		h2{
			margin-bottom: .55em;
			margin-bottom: 10px;
		}
		p{
			margin: 0;
			padding: 0;
		}
		ul{
			margin: 0;
			padding: 0;
			border-top: 1px solid #DFDFDF;
			margin-top: 15px;
			width: 62%;
			float: right;
			li{
				border-bottom: 1px solid #DFDFDF;
				display: block;
				padding-bottom: 10px;
				padding-top: 10px;
				a{
					border-bottom: none;
					display: block;
					padding-left: 5px;
					padding-right: 30px;
					background: url('../images/gem-small.png') no-repeat right 5px center;
					background-size: 18px 15px;
					&:hover{
						background-color: none;
						text-decoration: underline;
					}
					&.external{
						background: url('../images/external.png') no-repeat right 7px center;
						background-size: 14px 14px;
					}
				}
			}
		}
	}
}

.collections-pg .wrapper{
	
}

.scroll-description{
		@include box-sizing(border-box);
		padding-left: 35px;
		padding-right: 40px;
		padding-bottom: 120px;
		padding-top: 60px;
		color: #FFF;
		h1{
			font-weight: bold;
			font-size: 2em;
			margin-bottom: .6em;
		}
		p{
			line-height: 125%;
			font-size: 1.1em;
		}
	}

.slides{
		a{
			text-decoration: none;
		}
		li{

		}
	}
@media screen and (max-width: 1200px) {
	
	.wrapper{
		.content{
			width: 100%;

		}
		&.head{
			.nav{
				width: 100%;
			}
		}
	}

	.flexslider .scroll-description{
		width: 100%;
	}

	.collection-pg{
		.collection-description{
			margin-left: 0;
			width: inherit;
			left: 0;
			padding-right: 0px;
		}
		.content{
			.article{
				padding-left: 0%;
				width: 100%;
				padding-right: 0%;
			}
		}
	}
	.collection-hero{
		width: 100%;
	}
}

@media screen and (max-width: 930px) {
	.wrapper{
		.content{
			padding-left: 80px;
			padding-right: 80px;
		}
		&.head .nav	{
			padding-right: 70px;
			padding-left: 70px;
		}
	}

	.flexslider{
		.scroll-description{
			padding-left: 80px;
			padding-right: 80px;
		}
	}
	.article{
		h1{
			width: inherit;
			//padding-left: 10%;
			margin-bottom: 8px;
			//margin-top: 40px;
		}
		.permatimestamp{
			text-decoration: none;
		}
		.timestamp{
			position: relative;
			font-weight: bold;
			//padding-left: 10%;
			color: #ccc;
			font-size: .91em;
			margin-bottom: 40px;
			display: block;
			text-decoration: none;
		}
		.section{
			width: 100%;
			.graphic{
				width: 100%;
				float: none;
				margin-right: 0;
				//margin-left: -25%;
				//padding-right: 25%;
				margin-bottom: 30px;
			}
		}	
	}

	.article-meta{
		width: 100%;
		padding-right: 0px;
	}

	.footleft{
		width: 100%;
		padding-right: 0px;
		#disqus_thread{
			padding-bottom: 0px;
		}
	}
	.footright{
		width: 100%;
	}

	.archives .archive-item{
		h2{
			display: block;
		}
		.date{
			float: left;
			margin-top: -10px;
			margin-bottom: 25px;
		}
	}

	.collection-description{
		h1{
			margin-left: 75px;
			padding-right: 75px;
		}
		p{
			margin-left: 75px;
			padding-right: 75px;
		}
	}

	.footgrid{
		.row{
			width: 100%;
			display: block;
			margin-bottom: 20px;
			&:after{
				content: ".";
				display: block;
				height: 0;
				clear: both;
				visibility: hidden;
			}
		}
		li{
			width: 48%;
			margin-right: 2%;
			&:nth-child(3){
				background: #000;
				&:after{
					content: ".";
					display: block;
					height: 0;
					clear: both;
					visibility: hidden;
				}
			}
		}
	}
	.break{
		display: block;
		width: 100%;
		height: 10px;
		padding-bottom: 10px;
	}

	.collections-pg .collection-hero{
		width: 49%;
		margin-right: 2%;
	}

	ul.slides li:nth-child(3n+3){
		margin-right: 2%;
	}

	ul.slides li:nth-child(2n+2){
		margin-right: 0px;
	}
}

@media screen and (max-width: 680px) {
	.wrapper{
		.content{
			padding-left: 20px;
			padding-right: 20px;
		}
		&.head{
			.nav{
				padding-left: 17px;
				padding-right: 12px;
			}
		}
	}

	.collection-description{
		h1{
			margin-left: 20px;
			padding-right: 20px;
		}
		p{
			margin-left: 20px;
			padding-right: 20px;
		}
	}

	

	.home-pg .wrapper, .article-pg .wrapper{
		.content{
			padding-left: 0px;
			padding-right: 0px;
		}
		&.head{
			.nav{
				padding-left: 5.3%;
				padding-right: 5.3%
			}
		}
	}

	.footnotes{
		padding-left: 6%;
		padding-right: 6%;
	}
	.article-meta{
		width: 100%;
		padding-right: 6%;
		padding-left: 6%;
	}
	.article{
		h1{
			padding-left: 6%;
			padding-right: 6%;
		}
		.timestamp{
			padding-left: 6%;
		}
		.section{
			width: 100%;
			padding-left: 6%;
			padding-right: 6%;
			.graphic{
				width: 114%;
				float: none;
				margin-left: -7%;
				margin-bottom: 20px;
				.blockquote{
					padding-left: 6.5%;
				}
			}
		}
	}

	.collection-pg{
		.content{
			
			.article{
				.section{
					padding-left: 0px;
					padding-right: 0px;
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {

	.wrapper.head{
		.nav{
			.gem{

			}
			padding-top: 25px;
			padding-bottom: 15px;
			ul{
				float: left;
				width: 100%;
				margin-top: 18px;
				li{
					a{
						font-size: .8em;
					}
					&.archives{
						border-top: 1px solid #eee;
						border-bottom: 1px solid #eee;
						display: block;
						padding-top: 10px;
						padding-bottom: 10px;
						padding-left: 0px;
						text-align: center;
					}
					&.collections{
						border-bottom: 1px solid #eee;
						display: block;
						padding-top: 10px;
						padding-bottom: 10px;
						padding-left: 0px;
						text-align: center;
					}
					&.twitter{
						position: absolute;
						right: 48px;
						top: 27px;
						font-size: 1.25em;
					}
					&.rss{
						position: absolute;
						right: 20px;
						top: 27px;
						font-size: 1.1em;
					}
				}
				&:after{
					content: ".";
					display: block;
					height: 0;
					clear: both;
					visibility: hidden;
				}
			}
			&:after{
				content: ".";
				display: block;
				height: 0;
				clear: both;
				visibility: hidden;
			}
		}
	}

	.archives{
		.archive-item{
			.cover{
				img{
					display: none;
				}
				img:first-child{
					display: block;
					width: 100%;
				}
			}
		}
	}
	.flexslider{
		.scroll-description{
			padding-right: 20px;
			padding-left: 20px;
		}
	}

	.collection-pg{
		.content{
			padding-top: 0px;
			.article{
				.section{
					padding-left: 0px;
					padding-right: 0px;
					img{
						width: 100%;
						float: none;
					}
					ul{
						width: 100%;
					}
				}
			}
		}
		
	}
	.collection-description{
		padding-top: 30px;
		h1{
			margin-left: 0px;
		}
		p{
			margin-left: 0px;
			padding-right: 20px;
			line-height: 125%;
		}
		padding-left: 20px;
		padding-right: 20px;
	}

	.article-extension{
		@include box-sizing(border-box);
		padding-right: 0px;
	}

	.comment-prompt{
		width: 100%;
		@include box-sizing(border-box);

	}

	.permalink{
		width: 100%;
		padding-top: 12px;
		padding-bottom: 12px;
		.permalabel{
		}
		@include box-sizing(border-box);
		input{
			display: block;
			width: 96%;
			padding-right: 0px;
			margin-left: 0px;
			margin-top: 10px;

		}
	}

	.footgrid{
		.row{
			margin-bottom: 0px;
		}
		li{
			width: 100%;
			margin: 0;
			margin-bottom: 20px;
		}
	}

	.collections-pg .collection-hero{
		width: 100%;
		margin-right: 0%;
		height: 350px;
	}

	ul.slides li:nth-child(3n+3){
		margin-right: 0%;
	}

	ul.slides li:nth-child(2n+2){
		margin-right: 0px;
	}

}

