@import "compass/reset";
@import "compass/reset/utilities";
@import "fonts";
@import "compass/css3";

body{
	background: #f4f4f4;
	font-family: "proxima-nova-1","proxima-nova-2", Hevetica, sans-serif;
}

::-moz-selection { background: #FEEDB0; color: #000; text-shadow: none; }
::selection { background: #FEEDB0; color: #000; text-shadow: none; }

.wrapper{
	width: 1200px;
	margin: 0 auto;
}

.content{
	background: #FFFFFF;
	@include box-sizing(border-box);
	padding: 40px;
	padding-bottom: 0px;
	position: relative;
	z-index: 2;
}

.nav ul li ul{
	display: none;
}

.nav{
	padding-top: 50px;
	padding-bottom: 25px;
	h1{
		display: inline-block;
		font-size: 1.25em;
		.gem{
			background: url('../images/thewhyaxis.png');
			background-size: 29px 25px;
			display: block;
			width: 29px;
			height: 25px;
			float: left;
			margin-top: -4px;
			margin-right: 5px;
		}
		a{
			text-decoration: none;
			color: #333;
		}
	}
	ul{
		float: right;
		display: inline-block;
		li{
			display: inline-block;
			a{
				text-decoration: none;
				color: #999;
				text-transform: uppercase;
				font-weight: 600;
				letter-spacing: 1px;
				padding: 5px;
				&:hover{
					color: #333;
				}
			}
		}
		&:after{
			clear: both;
			content: ".";
			visibility: hidden;
			height: 0;
		}
	}
}

ul.articles{
	li{
		overflow: auto;
  		zoom: 1;
		display: block;
		padding-bottom: 60px;
		.hero{
			width: 30%;
			float: left;
			img{
				width: 100%;
			}
		}
		.listing{
			width: 70%;
			float: left;
			@include box-sizing(border-box);
			padding: 0px 0px 0px 30px;
			a{
				font-weight: bold;
				text-decoration: none;
				font-size: 1.75em;
				color: #333;
				border-bottom: 1px solid #FFF;
				line-height: 140%;
				margin-top: -8px;
				display: inline-block;
				&:hover{
					border-bottom: 1px solid #e8b64e;
				}
			}
			.date{
				font-weight: bold;
				color: #ccc;
				margin-top: 10px;
				margin-bottom: 25px;
				font-size: .91em;
			}
			.excerpt{
				line-height: 150%;
				margin-top: 10px;
			}
		}
	}
}

.article{
	position: relative;
	h1{
		font-weight: bold;
		font-size: 2em;
		width: 50%;
		margin-bottom: 40px;
		line-height: 115%;
	}
	.timestamp{
		position: absolute;
		top: 0;
		right: 2px;
		font-weight: bold;
		color: #ccc;
		font-size: .91em;
	}
	h2{
		font-size: 1.45em;
		font-weight: bold;
		margin-bottom: 1em;
	}
	.section{
		display: block;
		padding-bottom: 80px;
		width: 50%;
		@include box-sizing(border-box);
		padding-right: 2%;
		&:after{
			content: ".";
			display: block;
			height: 0;
			clear: both;
			visibility: hidden;
		}
		p{
			line-height: 145%;
			margin-bottom: 1.25em;
			color: #222;
			font-size: 1.1em;
			a{
				border-bottom: 1px solid #e8b64e;
				color: #000;
				text-decoration: none;
				&:hover{
					background: #FEF9E3;
				}
			}
		}
		ul{
			list-style: disc;
			padding-left: 25px;
			padding-right: 10px;
			margin-bottom: 1.25em;
			li{
				padding-bottom: 12px;
				line-height: 145%;
				a{
					border-bottom: 1px solid #e8b64e;
					color: #000;
					text-decoration: none;
					&:hover{
						background: #FEF9E3;
					}
				}
			}
		}
		blockquote{
			p{
				background: #FCF4D5;
				padding: 20px;
				margin-bottom:.65em;
			}
			//padding-left: 20px;
			//padding-top: 20px;	
			//padding-bottom: 1px;	
			//background: #FEF9E3;
		}
		.graphic{
			width: 100%;
			float: right;
			margin-right: -108%;
			padding-top: 5px;
			img{
				width: 100%;
				
				// max-width: 600px;
			}
		}
	}
}

#subscribebtn{
	background: #e6e7e8;
	color: #444;
	font-weight: bold;
	text-decoration: none;
	padding: 12px 14px 12px 14px;
	@include border-radius(2px);
	width: 45%;
	display: block;
	margin-top: -25px;
	position: relative;
	z-index: 5;
	&:hover{
		background: #e8b64e;
		color: #FFF;
	}
	span{
		margin-right: 4px;
	}

}

#disqus_thread{
	width: 50%;
	padding-left: 40px;
	padding-right: 60px;
	padding-top:40px;
	padding-bottom: 300px;
	float: left;
	@include box-sizing(border-box);
	font-family: "proxima-nova-1","proxima-nova-2", Hevetica, sans-serif !important;
	a{
		color: #e8b64e;
	}
}

.article-meta{
	width: 50%;
	float: right;
	@include box-sizing(border-box);
	padding-right: 40px;
	padding-left: 18px;
	//margin-top: 40px;
	position: relative;
	z-index: 1;
	ul{
		background: #E8EAEC;
		padding: 12px 20px 20px 20px;
		@include border-radius(0px 0px 3px 3px);
		border-top: 2px solid #D1D2D4;
		li{
			color: #a6a8ab;
			font-weight: bold;
			padding-top: 14px;
			.meta-label{
				//width: 135px;
				display: inline-block;
				padding-right: 8px;
			}
			a{
				color: #444;
				&:hover{
					color: #111;
				}

			}
		}
	}
}

.relatedcontent{
	width: 50%;
	float: right;
	padding-top: 40px;
	padding-right: 40px;
	@include box-sizing(border-box);
	padding-left: 18px;
	.readnext{
		font-weight: bold;
		border-bottom: 2px solid #E1E3E5;
		padding-bottom: 12px;
		padding-top: 12px;
		margin-bottom: 22px; 
		color: #3f4549;
	}
	li{
		background: #FFF;
		@include box-sizing(border-box);
		padding: 20px;
		@include border-radius(3px);
		margin-bottom: 16px;
		&:after{
				content: ".";
				display: block;
				height: 0;
				clear: both;
				visibility: hidden;
			}
		img{
			width: 100%;
			//float: left;
		}
		h2{
			width: 100%;
			//float: left;
			@include box-sizing(border-box);
			//padding-left: 15px;
			margin-bottom:12px;
			a{
				text-decoration: none;
				font-weight: bold;
				color: #444;
				// border-bottom: 1px solid #e8b64e;
				line-height: 115%;
				font-size: 1.35em;
				&:hover{
					color: #f2bb4c;
				}
			}
		}
	}
}