@import "compass/reset";
@import "compass/reset/utilities";
@import "fonts";
@import "compass/css3";

body{
	background: #f7f7f7;
	font-family: "proxima-nova-1","proxima-nova-2", Hevetica, sans-serif;
}

::-moz-selection { background: #FEEDB0; color: #000; text-shadow: none; }
::selection { background: #FEEDB0; color: #000; text-shadow: none; }

.wrapper{
	background: #FFF;
	position: relative;
	border-top: 1px solid #EEEEEE; 
	.content{
		width: 1200px;
		margin: 0 auto;
		position: relative;
	}
	&.head{
		background: #f7f7f7;
		.nav{
			width: 1200px;
			margin: 0 auto;
			padding-left: 30px;
			padding-right: 30px;
			@include box-sizing(border-box);
		}
	}
	&.footnotes{
		background: #f7f7f7;
		.content{
			padding-top: 0px;
		}
	}

}

.bumpy{
	width: 100%;
	position: fixed;
	height: 30px;
}

.content{
	@include box-sizing(border-box);
	padding: 40px 40px;
	padding-bottom: 0px;
	position: relative;
	z-index: 2;
	&:after{
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

.nav ul li{
	position: relative;
	@include transition();
}
.nav ul li ul{
	display:none;
	width: 205px;
	background: #ffd167;
	position: absolute;
	z-index: 3;
	right: 0px;
	margin-top: 7px;
	padding: 13px 20px 5px 20px;
	@include transition(.25s);
	li{
		display: block;
		padding-top: 4px;
		a{
			color: #222;
			text-transform: capitalize;
			letter-spacing: 0px;
			display: block;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}

.nav ul li.collections:hover ul{
	display: block;
}

.nav{
	padding-top: 50px;
	padding-bottom: 25px;
	position: relative; 
	z-index: 6;
	h1{
		display: inline-block;
		font-size: 1.25em;
		.gem{
			background: url('../images/thewhyaxis.png');
			background-size: 29px 25px;
			display: block;
			width: 29px;
			height: 25px;
			float: left;
			margin-top: -3px;
			margin-right: 7px;
		}
		a{
			text-decoration: none;
			color: #333;
		}
	}
	ul{
		float: right;
		display: inline-block;
		li{
			display: inline-block;
			padding-left: 3px;
			a{
				text-decoration: none;
				color: #888;
				text-transform: uppercase;
				font-weight: 600;
				letter-spacing: 1px;
				padding: 5px;
				&:hover{
					color: #333;
				}
			}
		}
		&:after{
			clear: both;
			content: ".";
			visibility: hidden;
			height: 0;
		}
	}
}

.archives{
	.archive-item{
		display: block;
		width: 100%;
		h2{
			display: inline;
			a{
				font-weight: bold;
				text-decoration: none;
				font-size: 1.75em;
				color: #333;
				border-bottom: 1px solid #FFF;
				line-height: 120%;
				margin-bottom: 16px;
				display: inline-block;
			}
		}
		.cover{
			width: 100%;
			float: left;
			padding-bottom:50px;
			margin-bottom: 10px;
			border-bottom: 1px solid #ccc;
			img{
				width: 150px;
				margin-bottom: 10px;
				float: left;
				margin-right: 10px;
			}
			&:after{
				clear: both;
				content: ".";
				visibility: hidden;
				height: 0;
			}
			&:hover{
				border-bottom: 1px solid #ccc;
			}
		}
		.date{
			font-weight: bold;
			color: #ccc;
			margin-top: 6px;
			font-size: .91em;
			float: right;
		}
		&:after{
			clear: both;
			content: ".";
			visibility: hidden;
			height: 0;
		}
		&:hover{
			h2{
				a{
					color: #e8b64e;
				}
			}
		}
	}

	&:after{
		clear: both;
		content: ".";
		visibility: hidden;
		height: 0;
	}
}

ul.articles{
	li{
		overflow: auto;
  		zoom: 1;
		display: block;
		padding-bottom: 60px;
		.hero{
			width: 35%;
			float: left;
			img{
				width: 100%;
			}
		}
		.listing{
			width: 65%;
			float: left;
			@include box-sizing(border-box);
			padding: 0px 0px 0px 30px;
			a{
				font-weight: bold;
				text-decoration: none;
				font-size: 1.75em;
				color: #333;
				border-bottom: 1px solid #FFF;
				line-height: 120%;
				margin-top: -8px;
				display: inline;
				&:hover{
					border-bottom: 1px solid #e8b64e;
				}
			}
			.date{
				font-weight: bold;
				color: #ccc;
				margin-top: 14px;
				margin-bottom: 25px;
				font-size: .91em;
			}
			.excerpt{
				line-height: 143%;
				margin-top: 10px;
			}
		}
	}
}

.article{
	position: relative;
	h1{
		font-weight: bold;
		font-size: 2em;
		width: 40%;
		margin-bottom: 30px;
		line-height: 105%;
	}
	.timestamp{
		position: absolute;
		top: 0;
		right: 2px;
		font-weight: bold;
		color: #ccc;
		font-size: .91em;
	}
	h2{
		font-size: 1.45em;
		font-weight: bold;
		margin-bottom: 1em;
	}
	.section{
		display: block;
		padding-bottom: 40px;
		width: 42%;
		@include box-sizing(border-box);
		padding-right: 2%;
		&:after{
			content: ".";
			display: block;
			height: 0;
			clear: both;
			visibility: hidden;
		}
		p{
			line-height: 146%;
			//margin-bottom: 1.25em;
			padding-bottom: 1.25em;
			color: #222;
			font-size: 1.05em;
			a{
				border-bottom: 1px solid #e8b64e;
				color: #000;
				text-decoration: none;
				&:hover{
					background: #FEF9E3;
				}
			}
			em{
				font-style: italic;
			}
		}
		ul{
			list-style: disc;
			padding-left: 25px;
			padding-right: 10px;
			margin-bottom: 1.25em;
			li{
				padding-bottom: 12px;
				line-height: 145%;
				a{
					border-bottom: 1px solid #e8b64e;
					color: #000;
					text-decoration: none;
					&:hover{
						background: #FEF9E3;
					}
				}
			}
		}
		blockquote{
			display: inline;
			p{
				background: #FCF4D5;
				padding: 18px 20px 15px 20px;
				margin-bottom:1.25em;
				line-height: 135%;
			}
		}
		.graphic{
			width: 135%;
			float: right;
			margin-right: -149%;
			img{
				width: 100%;
				// max-width: 600px;
			}
			&.fixto-fixed{
			}
		}
	}
}

#subscribebtn{
	background: #e6e7e8;
	color: #444;
	font-weight: bold;
	text-decoration: none;
	padding: 12px 14px 12px 14px;
	@include border-radius(2px);
	width: 45%;
	display: block;
	margin-top: -25px;
	position: relative;
	z-index: 5;
	&:hover{
		background: #e8b64e;
		color: #FFF;
	}
	span{
		margin-right: 4px;
	}

}

.footleft{
	width: 45%;
	padding-left: 0px;
	padding-right: 60px;
	padding-top: 40px;
	float: left;
	@include box-sizing(border-box);
	position: relative;
	z-index: 1;
}

.footright{
	width: 55%;
	float: right;
	@include box-sizing(border-box);
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 40px;
}

#disqus_thread{
	padding-bottom: 300px;
	font-family: "proxima-nova-1","proxima-nova-2", Hevetica, sans-serif !important;
	a{
		color: #e8b64e;
	}
}

.article-meta{
	width: 100%;
	padding-right: 60px;
	margin-bottom: 30px;
	@include box-sizing(border-box);
	ul{
		
		padding: 0px 20px 20px 0px;
		
		//border-top: 2px solid #D1D2D4;
		li{
			color: #444;
			font-weight: bold;
			padding-top: 14px;
			.meta-label{
				//width: 135px;
				display: inline-block;
				padding-right: 6px;
				width: 115px
			}
			a{
				color: #222;
				font-weight: normal;
				background: #FCF3D5;
				text-decoration: none;
				@include border-radius(3px);
				padding: 2px 6px;
				&:hover{
					color: #111;
					background: #F7E39F;
				}

			}
		}
	}
}

h3{
	font-weight: bold;
	border-bottom: 2px solid #E1E3E5;
	padding-bottom: 12px;
	padding-top: 12px;
	margin-bottom: 22px; 
	color: #3f4549;
}

.relatedcontent{
	li{
		background: #FFF;
		@include box-sizing(border-box);
		padding: 20px;
		@include border-radius(3px);
		margin-bottom: 16px;
		&:after{
			content: ".";
			display: block;
			height: 0;
			clear: both;
			visibility: hidden;
		}
		img{
			width: 100%;
			//float: left;
		}
		h2{
			width: 100%;
			//float: left;
			@include box-sizing(border-box);
			//padding-left: 15px;
			margin-bottom:12px;
			a{
				text-decoration: none;
				font-weight: bold;
				color: #444;
				line-height: 115%;
				font-size: 1.4em;
				&:hover{
					color: #f2bb4c;
				}
			}
		}
	}
}

.reactions{
	margin-bottom: 40px;
}

.collection-hero{
	width: 45%;
	position: absolute;
	left: 0;
	z-index: 4;
	img{
		width: 100%;
		position: absolute;
	}
}

.collection-description{
	position: absolute;
	z-index: 5;
	color: #FFF;
	width: 1200px;
	left: 50%;
	margin-left: -600px;
	@include box-sizing(border-box);
	padding-right: 50%;
	padding-top: 110px;
	h1{
		font-weight: bold;
		font-size: 2em;
		margin-bottom: .75em;
		margin-left: 35px;
	}
	p{
		line-height: 135%;
		font-size: 1.1em;
		margin-left: 35px;
	}
}

.collection-pg .content{
	.article{
		padding-left: 50%;
	}
	.section{
		width: 100%;
		//border-bottom: 5px solid #f4f4f4;
		padding-bottom: 40px;
		padding-top: 60px;
		img{
			width: 100%;
			margin-bottom: 12px;
		}
		h2{
			margin-bottom: .55em;
			margin-top: -8px;
		}
		p{
			margin: 0;
			padding: 0;
			a{
				border-top: 1px solid #DFDFDF;
				border-bottom: 1px solid #DFDFDF;
				display: block;
				padding-bottom: 10px;
				padding-top: 10px;
				padding-left: 5px;
				&:hover{
					background: none;
					text-decoration: underline;
				}
			}
		}
		p.excerpt{

		}
		ul{
			margin: 0;
			padding: 0;
			border-top: 1px solid #DFDFDF;
			margin-top: 15px;
			li{
				border-bottom: 1px solid #DFDFDF;
				display: block;
				padding-bottom: 10px;
				padding-top: 10px;
				a{
					border-bottom: none;
					display: block;
					padding-left: 5px;
					background: url('../images/gem-small.png') no-repeat right 5px center;
					background-size: 18px 15px;
					&:hover{
						background-color: none;
						text-decoration: underline;
					}
					&.external{
						background: url('../images/external.png') no-repeat right 7px center;
						background-size: 14px 14px;
					}
				}
			}
		}
	}
}

.collections-pg .wrapper{
	overflow: scroll;
	overflow-y: hidden;
}

.flexslider{
	.scroll-description{
		position: absolute;
		z-index: 5;
		top: 25%;
		padding-left: 35px;
		padding-right: 40px;
		color: #FFF;
		@include transition (all 0.5s);
		h1{
			font-weight: bold;
			font-size: 2em;
			margin-bottom: .6em;
		}
		p{
			line-height: 125%;
			font-size: 1.1em;
		}
	}
}

/*
 * jQuery FlexSlider v1.8
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* Browser Resets */
.flex-container a,
.flexslider a,
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}


/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {background: #fff; position: relative; zoom: 1;}
.flexslider .slides {zoom: 1; }
.flexslider .slides > li {position: relative;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}

/* Caption style */
/* IE rgba() hack */
.flex-caption {background:none; -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); zoom: 1;}
.flex-caption {width: 96%; padding: 2%; margin: 0; position: absolute; left: 0; bottom: 0; background: rgba(0,0,0,.3); color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.3); font-size: 14px; line-height: 18px;}

/* Direction Nav */
.flex-direction-nav { height: 0; }
.flex-direction-nav a {width: 52px; height: 52px; margin: -13px 0 0; display: block; background: url(theme/bg_direction_nav.png) no-repeat; position: absolute; top: 50%; cursor: pointer; text-indent: -999em;}
.flex-direction-nav .flex-next {background-position: -52px 0; right: -21px;}
.flex-direction-nav .flex-prev {left: -20px;}
.flex-direction-nav .flex-disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -30px; text-align: center;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav a {width: 13px; height: 13px; display: block; background: url(theme/bg_control_nav.png) no-repeat; cursor: pointer; text-indent: -999em;}
.flex-control-nav a:hover {background-position: 0 -13px;}
.flex-control-nav a.flex-active {background-position: 0 -26px; cursor: default;}

@media screen and (max-width: 1200px) {
	
	.wrapper{
		.content{
			width: 100%;
		}
		&.head{
			.nav{
				width: 100%;
			}
		}
	}
	.collection-pg{
		.collection-description{
			margin-left: 0;
			width: inherit;
			left: 0;
			padding-right: 0px;
		}
		.content{
			z-index: 100;
			background: #FFF;
			margin-top: 300px;
			.article{
				padding-left: 0%;
				.section{
					padding-bottom: 70px;
					padding-top: 30px;
					h2{
						width: 100%;
						margin-bottom: 10px;
						line-height: 125%;
					}
					img{
						float: right;
						width: 50%;
						margin-left: 30px;
						padding-top: 25px;
					}
				}
			}
		}
	}
	.collection-hero{
		width: 100%;

	}
}

@media screen and (max-width: 930px) {
	.wrapper{
		.content{
			padding-left: 80px;
			padding-right: 80px;
		}
		&.head .nav	{
			padding-right: 70px;
			padding-left: 70px;
		}
	}

	.flexslider{
		.scroll-description{
			padding-left: 80px;
			padding-right: 80px;
		}
	}
	.article{
		h1{
			width: inherit;
			//padding-left: 10%;
			margin-bottom: 8px;
			//margin-top: 40px;
		}
		.timestamp{
			position: relative;
			font-weight: bold;
			//padding-left: 10%;
			color: #ccc;
			font-size: .91em;
			margin-bottom: 40px;
			display: block;
		}
		.section{
			width: 100%;
			.graphic{
				width: 100%;
				float: none;
				margin-right: 0;
				//margin-left: -25%;
				//padding-right: 25%;
				margin-bottom: 30px;
			}
		}	
	}

	.article-meta{
		width: 100%;
		padding-right: 0px;
	}

	.footleft{
		width: 100%;
		padding-right: 0px;
		#disqus_thread{
			padding-bottom: 0px;
		}
	}
	.footright{
		width: 100%;
	}

	.archives .archive-item{
		h2{
			display: block;
		}
		.date{
			float: left;
			margin-top: -10px;
			margin-bottom: 25px;
		}
	}

	.collection-description{
		h1{
			margin-left: 75px;
			padding-right: 75px;
		}
		p{
			margin-left: 75px;
			padding-right: 75px;
		}
	}
}

@media screen and (max-width: 680px) {
	.wrapper{
		.content{
			padding-left: 20px;
			padding-right: 20px;
		}
		&.head{
			.nav{
				padding-left: 17px;
				padding-right: 12px;
			}
		}
	}

	

	.home-pg .wrapper, .article-pg .wrapper{
		.content{
			padding-left: 0px;
			padding-right: 0px;
		}
		&.head{
			.nav{
				padding-left: 5.3%;
				padding-right: 5.3%
			}
		}
	}

	.footnotes{
		padding-left: 6%;
		padding-right: 6%;
	}
	.article-meta{
		width: 100%;
		padding-right: 6%;
		padding-left: 6%;
	}
	.article{
		h1{
			padding-left: 6%;
			padding-right: 6%;
		}
		.timestamp{
			padding-left: 6%;
		}
		.section{
			width: 100%;
			padding-left: 6%;
			padding-right: 6%;
			.graphic{
				width: 114%;
				float: none;
				margin-left: -7%;
				margin-bottom: 20px;
				.blockquote{
					padding-left: 6.5%;
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {

	.wrapper.head{
		.nav{
			padding-top: 25px;
			padding-bottom: 10px;
			ul{
				float: left;
				width: 100%;
				margin-top: 10px;
				li{
					a{
						font-size: .8em;
					}
				}
				&:after{
					content: ".";
					display: block;
					height: 0;
					clear: both;
					visibility: hidden;
				}
			}
			&:after{
				content: ".";
				display: block;
				height: 0;
				clear: both;
				visibility: hidden;
			}
		}
	}

	.archives{
		.archive-item{
			.cover{
				img{
					display: none;
				}
				img:first-child{
					display: block;
					width: 100%;
				}
			}
		}
	}
	.flexslider{
		.scroll-description{
			padding-right: 20px;
			padding-left: 20px;
		}
	}

	.collection-pg{
		.content{
			margin-top: 220px;
			padding-top: 0px;
			.article{
				.section{
					padding-left: 0px;
					padding-right: 0px;
					h2{
						margin-bottom: 00px;
					}
					img{
						width: 100%;
						float: none;
						margin-left: 0px;
					}
				}
			}
		}
		
	}
	.collection-description{
		padding-top: 30px;
		h1{
			margin-left: 0px;
		}
		p{
			margin-left: 0px;
			padding-right: 20px;
			line-height: 125%;
		}
		padding-left: 20px;
		padding-right: 20px;
	}

}

