/* line 17, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'twa';
  src: url("../fonts/twa.eot");
  src: url("../fonts/twa.eot?#iefix") format("embedded-opentype"), url("../fonts/twa.svg#twa") format("svg"), url("../fonts/twa.woff") format("woff"), url("../fonts/twa.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to have a class per icon */
/* line 13, ../sass/_fonts.scss */
.twa-icoarrow-up:before, .twa-icoarrow-down:before, .twa-icotwitter:before, .twa-icotriangle:before, .twa-icorss:before, .twa-icoprev:before, .twa-iconext:before, .twa-icomenu:before, .twa-icoimage:before, .twa-icocomment:before {
  font-family: 'twa';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* line 21, ../sass/_fonts.scss */
.twa-icoarrow-up:before {
  content: "\5b"; }

/* line 24, ../sass/_fonts.scss */
.twa-icoarrow-down:before {
  content: "\5d"; }

/* line 27, ../sass/_fonts.scss */
.twa-icotwitter:before {
  content: "\40"; }

/* line 30, ../sass/_fonts.scss */
.twa-icotriangle:before {
  content: "\5e"; }

/* line 33, ../sass/_fonts.scss */
.twa-icorss:before {
  content: "\24"; }

/* line 36, ../sass/_fonts.scss */
.twa-icoprev:before {
  content: "\6b"; }

/* line 39, ../sass/_fonts.scss */
.twa-iconext:before {
  content: "\6a"; }

/* line 42, ../sass/_fonts.scss */
.twa-icomenu:before {
  content: "\23"; }

/* line 45, ../sass/_fonts.scss */
.twa-icoimage:before {
  content: "\21"; }

/* line 48, ../sass/_fonts.scss */
.twa-icocomment:before {
  content: "\25"; }

/* line 53, ../sass/_fonts.scss */
nav #connect a .twa-icocomment {
  font-size: 30px; }

/* line 57, ../sass/_fonts.scss */
nav #connect a .twa-icotwitter {
  font-size: 32px;
  margin-bottom: 20px; }

/* line 62, ../sass/_fonts.scss */
nav #connect a .twa-icorss {
  font-size: 28px; }

/* line 13, ../sass/screen.scss */
body {
  font-family: "proxima-nova-1","proxima-nova-2", Hevetica, sans-serif; }

/* line 17, ../sass/screen.scss */
::-moz-selection {
  background: #F4E9A4;
  color: #000;
  text-shadow: none; }

/* line 18, ../sass/screen.scss */
::selection {
  background: #F4E9A4;
  color: #000;
  text-shadow: none; }

/* line 20, ../sass/screen.scss */
h1 {
  font-size: 2.2em;
  font-weight: bold;
  margin-bottom: 30px; }

/* line 26, ../sass/screen.scss */
h2 {
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 30px;
  margin-bottom: 10px;
  width: 35%; }

/* line 34, ../sass/screen.scss */
h1.home {
  font-size: 1.1em;
  margin-bottom: 10px;
  margin-top: 12px; }

/* line 40, ../sass/screen.scss */
h1.home a {
  color: #e8b64e;
  text-decoration: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }
  /* line 44, ../sass/screen.scss */
  h1.home a:hover {
    color: #e2a321; }

/* line 49, ../sass/screen.scss */
.article .home a {
  display: block;
  float: left; }

/* line 54, ../sass/screen.scss */
.article .home .timestamp {
  font-size: 1em;
  padding-top: 0px;
  font-weight: bold;
  color: #ccc;
  padding-left: 8px; }

/* line 65, ../sass/screen.scss */
nav {
  width: 90px;
  position: fixed;
  padding-top: 30px;
  height: 100%; }
  /* line 70, ../sass/screen.scss */
  nav h1 {
    background: url("../images/thewhyaxis.png");
    background-size: 44px 39px;
    display: block;
    width: 44px;
    height: 39px;
    text-indent: -9999px; }
  /* line 78, ../sass/screen.scss */
  nav a {
    text-decoration: none;
    color: #e7b44d;
    width: 50px;
    margin: 0 auto;
    text-align: center;
    display: block; }
    /* line 85, ../sass/screen.scss */
    nav a :hover {
      color: #e2a321; }
  /* line 89, ../sass/screen.scss */
  nav #connect {
    bottom: 0;
    position: fixed;
    padding-bottom: 20px;
    width: 50px;
    text-align: center;
    margin: 0 auto;
    margin-left: 19px;
    list-style: none; }
    /* line 98, ../sass/screen.scss */
    nav #connect a {
      margin-top: 12px;
      display: block; }
  /* line 103, ../sass/screen.scss */
  nav .label {
    background: #f2f2f2;
    font-size: .8em;
    width: 50px;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    border-radius: 4px;
    color: #444;
    margin-top: -20px;
    margin-left: 20px;
    display: block;
    display: none; }

/* line 119, ../sass/screen.scss */
#connect .twa-icocomment {
  color: #e7b44d;
  width: 50px;
  font-size: 28px;
  position: relative;
  z-index: 4; }
  /* line 125, ../sass/screen.scss */
  #connect .twa-icocomment:hover {
    color: #e2a321; }
  /* line 128, ../sass/screen.scss */
  #connect .twa-icocomment a {
    color: #FFFFFF;
    position: absolute;
    z-index: 5;
    top: -8px;
    left: -10px;
    font-size: 14px;
    font-weight: bold;
    font-family: "proxima-nova-1","proxima-nova-2", Helvetica, sans-serif; }

/* line 141, ../sass/screen.scss */
#reload {
  background: #FFE780;
  position: fixed;
  margin: 0 auto;
  color: #222;
  padding: 20px;
  width: 100%;
  text-align: center;
  display: none;
  z-index: 1000000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 156, ../sass/screen.scss */
.largesize {
  display: none; }

/* line 160, ../sass/screen.scss */
.smallsize {
  display: block; }

/* line 164, ../sass/screen.scss */
#PageRefresh {
  text-decoration: underline;
  cursor: pointer; }

/* line 169, ../sass/screen.scss */
#graphicnav div {
  background: #FFD06F;
  padding: 20px;
  padding-bottom: 15px;
  cursor: pointer;
  width: 20px;
  position: fixed;
  display: block;
  z-index: 100;
  bottom: 20px;
  text-align: center;
  color: #222; }
  /* line 181, ../sass/screen.scss */
  #graphicnav div:hover {
    background: #e2a321;
    color: #FFFFFF; }
  /* line 185, ../sass/screen.scss */
  #graphicnav div:active {
    background: #FFFFFF;
    color: #222; }

/* line 191, ../sass/screen.scss */
.next {
  right: 50px;
  border-radius: 0px 6px 6px 0px; }
  /* line 194, ../sass/screen.scss */
  .next:hover {
    bottom: 18px; }

/* line 199, ../sass/screen.scss */
.prev {
  right: 107px;
  border-radius: 6px 0px 0px 6px; }
  /* line 202, ../sass/screen.scss */
  .prev:hover {
    bottom: 22px; }

/* line 210, ../sass/screen.scss */
#container {
  padding-bottom: 100px;
  padding-top: 25px;
  padding-left: 90px; }

/* line 216, ../sass/screen.scss */
article {
  width: 35%;
  max-width: 525px; }
  /* line 219, ../sass/screen.scss */
  article p {
    padding-bottom: 12px;
    font-size: .938;
    line-height: 1.48em;
    color: #222; }
    /* line 224, ../sass/screen.scss */
    article p .twa-icotriangle {
      color: #FFC856; }
    /* line 227, ../sass/screen.scss */
    article p a {
      color: black;
      text-decoration: none;
      border-bottom: 1px solid #e8b64e; }
      /* line 231, ../sass/screen.scss */
      article p a:hover {
        background: #FEF9E3; }
  /* line 236, ../sass/screen.scss */
  article .blockquote {
    margin-top: 20px;
    margin-bottom: 20px; }
    /* line 239, ../sass/screen.scss */
    article .blockquote p {
      font-size: 1.7em;
      font-weight: bold;
      line-height: 125%;
      color: #E7B44D;
      margin-bottom: 0px; }
    /* line 246, ../sass/screen.scss */
    article .blockquote .mark {
      color: #E7B44D;
      font-weight: bold;
      font-size: 3em;
      line-height: 0%; }

/* line 255, ../sass/screen.scss */
blockquote p {
  background: #FEF9E3;
  display: block;
  margin: 0;
  padding: 1em 20px 16px 20px;
  margin-top: 0px;
  margin-bottom: 1em !important;
  font-style: italic; }
  /* line 263, ../sass/screen.scss */
  blockquote p img {
    float: left;
    margin-right: 15px; }
  /* line 267, ../sass/screen.scss */
  blockquote p:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

/* line 276, ../sass/screen.scss */
section.blog {
  width: 35%;
  max-width: 525px; }
  /* line 279, ../sass/screen.scss */
  section.blog ul {
    list-style: none; }
    /* line 281, ../sass/screen.scss */
    section.blog ul li img {
      width: 100%;
      height: auto; }

/* line 288, ../sass/screen.scss */
article .section {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  opacity: 0.35;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

/* line 296, ../sass/screen.scss */
article .section.currentpost {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

/* line 303, ../sass/screen.scss */
.space {
  display: block;
  height: 1em; }

/* line 309, ../sass/screen.scss */
#post-1 .graphic {
  display: block; }

/* line 313, ../sass/screen.scss */
.graphic {
  position: fixed;
  top: 0px;
  right: 0px !important;
  padding-top: 58px;
  padding-bottom: 50px;
  padding-right: 45px;
  padding-left: 50px;
  display: none;
  width: 52%;
  overflow: scroll;
  height: 100%; }
  /* line 327, ../sass/screen.scss */
  .graphic img {
    width: 99%;
    height: auto;
    margin-bottom: 100px;
    -webkit-box-shadow: 0px 0px 80px 0px #D6D6D6;
    border-radius: 4px;
    border: 1px solid #FFF; }
  /* line 335, ../sass/screen.scss */
  .graphic a:hover {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in; }
  /* line 339, ../sass/screen.scss */
  .graphic p.caption {
    padding-top: 12px;
    font-style: italic;
    font-size: 0.8em; }

/* line 346, ../sass/screen.scss */
iframe.graphic {
  height: 87%; }

/* line 351, ../sass/screen.scss */
p {
  padding-bottom: 12px;
  font-size: .938;
  line-height: 1.48em;
  color: #222; }
  /* line 356, ../sass/screen.scss */
  p .speaker1 {
    font-weight: bold;
    color: #f37d20; }
  /* line 360, ../sass/screen.scss */
  p .speaker2 {
    font-weight: bold;
    color: #27a9e1; }
  /* line 364, ../sass/screen.scss */
  p .speaker3 {
    font-weight: bold;
    color: #38b449; }
  /* line 368, ../sass/screen.scss */
  p em {
    font-style: italic; }
  /* line 371, ../sass/screen.scss */
  p strong {
    font-weight: bold; }

/* line 376, ../sass/screen.scss */
article ul {
  list-style: disc;
  padding-left: 25px;
  color: #e8b64e; }
  /* line 380, ../sass/screen.scss */
  article ul li {
    line-height: 1.48em;
    color: #222;
    padding-bottom: 12px;
    font-size: .938; }
    /* line 388, ../sass/screen.scss */
    article ul li strong {
      font-weight: bold; }

/* line 396, ../sass/screen.scss */
article ul li a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #e8b64e; }
  /* line 400, ../sass/screen.scss */
  article ul li a:hover {
    background: #FEF9E3; }

/* line 406, ../sass/screen.scss */
article h2 {
  width: 100%; }

/* line 410, ../sass/screen.scss */
#comments {
  padding-bottom: 400px; }
  /* line 412, ../sass/screen.scss */
  #comments a {
    color: #e2a321; }
  /* line 415, ../sass/screen.scss */
  #comments .graphic {
    padding-top: 10%; }

/* line 420, ../sass/screen.scss */
#disqus_thread ul, #disqus_thread ul li, #disqus_thread li, #disqus_thread a, #disqus_thread .nav {
  border-color: #e8b64e !important; }

/* line 424, ../sass/screen.scss */
#publisher-nav-color {
  color: #e8b64e !important;
  border-color: #e8b64e !important; }

/* line 430, ../sass/screen.scss */
#comments ul.relatedcontent {
  display: block;
  margin-top: 90px;
  float: left;
  padding-left: 0px; }
  /* line 435, ../sass/screen.scss */
  #comments ul.relatedcontent p {
    color: #888; }
  /* line 438, ../sass/screen.scss */
  #comments ul.relatedcontent li {
    width: 400px;
    display: block; }
    /* line 441, ../sass/screen.scss */
    #comments ul.relatedcontent li h2 {
      line-height: 125%;
      padding-top: 0px;
      width: 100%; }
      /* line 445, ../sass/screen.scss */
      #comments ul.relatedcontent li h2 a {
        color: #333333;
        width: 100%;
        background: none;
        border: none; }
        /* line 450, ../sass/screen.scss */
        #comments ul.relatedcontent li h2 a:hover {
          cursor: pointer;
          color: #E6B458;
          background: none; }
  /* line 458, ../sass/screen.scss */
  #comments ul.relatedcontent img {
    width: 35%;
    height: auto; }

/* line 464, ../sass/screen.scss */
.share a {
  background: #FFD06F;
  padding: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  display: block;
  border-radius: 6px;
  float: left;
  text-decoration: none;
  color: #222;
  margin-right: 10px;
  margin-bottom: 10px; }

/* line 478, ../sass/screen.scss */
.share a:hover {
  cursor: pointer;
  background: #e8b64e;
  color: #FFFFFF; }

/* line 485, ../sass/screen.scss */
.categories {
  margin-top: 20px; }

/* line 489, ../sass/screen.scss */
.colhalf {
  width: 50%;
  float: left; }

/* line 494, ../sass/screen.scss */
.index .home {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 12px;
  margin-bottom: 25px; }

/* line 500, ../sass/screen.scss */
.index nav {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

/* line 505, ../sass/screen.scss */
.index {
  padding-bottom: 320px;
  width: 900px; }

/* line 512, ../sass/screen.scss */
.index ul {
  list-style: none; }

/* line 518, ../sass/screen.scss */
.index ul li:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* line 527, ../sass/screen.scss */
.index ul li a {
  text-decoration: none;
  font-size: 2em;
  display: block;
  color: #333;
  font-weight: bold;
  line-height: 105%;
  padding-bottom: 14px; }

/* line 537, ../sass/screen.scss */
.index ul li a:hover {
  color: #E7B54E; }

/* line 541, ../sass/screen.scss */
.date {
  font-weight: bold;
  color: #ccc;
  font-size: .8em;
  display: block;
  padding-top: 2px; }

/* line 549, ../sass/screen.scss */
.index .cover a {
  margin: 0;
  padding: 0; }

/* line 554, ../sass/screen.scss */
.index .cover img {
  width: auto;
  height: 260px;
  float: left;
  margin-right: 20px;
  margin-bottom: 3em; }

/* line 562, ../sass/screen.scss */
.index .graphic {
  width: 50%;
  height: auto; }

/* line 567, ../sass/screen.scss */
.index .readmore {
  background: #FFF;
  border: 1px solid #e8b64e;
  border-radius: 4px;
  paddding: 20px;
  position: absolute;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  text-align: center;
  padding-top: 15px;
  top: 220px;
  text-transform: uppercase;
  font-size: 1.3em; }
  /* line 581, ../sass/screen.scss */
  .index .readmore:hover {
    background: #e8b64e;
    color: #FFFFFF;
    border-color: #e2a321;
    cursor: pointer; }

/* line 590, ../sass/screen.scss */
.index .messaging {
  margin-bottom: 75px; }
  /* line 597, ../sass/screen.scss */
  .index .messaging p {
    margin-bottom: 0px;
    color: #888;
    line-height: 125%;
    font-style: italic; }
    /* line 602, ../sass/screen.scss */
    .index .messaging p a {
      color: black;
      text-decoration: none;
      border-bottom: 1px solid #e8b64e; }
      /* line 606, ../sass/screen.scss */
      .index .messaging p a:hover {
        background: #FEF9E3; }
  /* line 611, ../sass/screen.scss */
  .index .messaging:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

/* line 621, ../sass/screen.scss */
#reload.smallsize {
  display: block; }

/* line 625, ../sass/screen.scss */
.collections li {
  width: 47%;
  display: inline-block;
  float: left;
  margin-right: 3%;
  margin-bottom: 20px; }
  /* line 631, ../sass/screen.scss */
  .collections li .cover img {
    margin-bottom: 18px;
    width: 100%; }

/* line 637, ../sass/screen.scss */
.collections li:nth-child(odd) {
  clear: left; }

/* line 641, ../sass/screen.scss */
.external {
  background: #f2f2f2;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 647, ../sass/screen.scss */
  .external a {
    font-size: 22px !important;
    padding-bottom: 10px !important; }
  /* line 651, ../sass/screen.scss */
  .external p {
    margin-bottom: 5px !important; }

@media screen and (max-width: 1395px) {
  /* line 659, ../sass/screen.scss */
  .graphic {
    width: 45%; }

  /* line 667, ../sass/screen.scss */
  #reload.smallsize {
    display: block; } }
@media screen and (max-width: 1180px) {
  /* line 676, ../sass/screen.scss */
  .graphic {
    width: 45%; }

  /* line 680, ../sass/screen.scss */
  #reload.smallsize {
    display: block; } }
@media screen and (max-width: 1000px) {
  /* line 689, ../sass/screen.scss */
  .share, .nextarticle {
    margin-left: 0px;
    width: 100%; }

  /* line 694, ../sass/screen.scss */
  .index {
    width: 85%; }

  /* line 698, ../sass/screen.scss */
  .index .cover img {
    width: 50%;
    height: auto !important; }

  /* line 703, ../sass/screen.scss */
  .index .readmore {
    display: none; }

  /* line 707, ../sass/screen.scss */
  .index ul li a {
    padding-top: 0px;
    margin-top: 0px; }

  /* line 712, ../sass/screen.scss */
  .graphic {
    position: inherit;
    top: 0;
    right: 0;
    z-index: 100000;
    width: 100%;
    display: block;
    overflow: visible !important;
    padding: 0px;
    background: none;
    border: none; }
    /* line 723, ../sass/screen.scss */
    .graphic .youtube {
      height: 358px; }
    /* line 726, ../sass/screen.scss */
    .graphic img {
      border-radius: none;
      -webkit-box-shadow: none;
      border: none;
      margin-bottom: 22px; }

  /* line 734, ../sass/screen.scss */
  iframe.graphic {
    height: 350px;
    margin-bottom: 15px; }

  /* line 741, ../sass/screen.scss */
  #graphicnav {
    display: none; }

  /* line 746, ../sass/screen.scss */
  #reload.smallsize {
    display: none; }

  /* line 750, ../sass/screen.scss */
  #reload.largesize {
    display: block !important; }

  /* line 754, ../sass/screen.scss */
  article {
    width: 85%; }

  /* line 758, ../sass/screen.scss */
  article .section {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }

  /* line 766, ../sass/screen.scss */
  article img {
    margin-top: 20px;
    margin-bottom: 20px; }

  /* line 771, ../sass/screen.scss */
  .section .twa-icoimage {
    display: none; }

  /*	.section{
  		margin: 0 auto;
  	}
  	
  	#container{
  		padding-left: 0px;
  	}*/ }
@media screen and (max-width: 800px) {
  /* line 788, ../sass/screen.scss */
  .index {
    width: 80%; }

  /* line 792, ../sass/screen.scss */
  .index .cover img {
    width: 100%;
    height: auto;
    margin-bottom: 20px; }

  /* line 798, ../sass/screen.scss */
  .index ul li {
    margin-bottom: 3em; } }
@media screen and (max-width: 545px) {
  /* line 808, ../sass/screen.scss */
  .index {
    width: 85%; }

  /* line 812, ../sass/screen.scss */
  article h1, .index ul li a {
    font-size: 1.5em; }

  /* line 816, ../sass/screen.scss */
  nav {
    width: 100%;
    position: relative;
    padding-top: 30px;
    height: 50px;
    background: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in; }
    /* line 826, ../sass/screen.scss */
    nav:hover {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
      z-index: 10; }
    /* line 830, ../sass/screen.scss */
    nav h1 {
      margin-left: 28px; }
    /* line 833, ../sass/screen.scss */
    nav a {
      display: block;
      float: left; }
    /* line 837, ../sass/screen.scss */
    nav #connect {
      position: relative;
      padding-right: 20px;
      width: auto;
      margin: 0px;
      margin-left: 0px;
      display: block;
      float: right; }
      /* line 845, ../sass/screen.scss */
      nav #connect li {
        float: right; }
        /* line 847, ../sass/screen.scss */
        nav #connect li a {
          margin-top: 5px; }
    /* line 854, ../sass/screen.scss */
    nav #connect .twa-icocomment {
      top: 8px;
      margin-left: 12px; }
      /* line 857, ../sass/screen.scss */
      nav #connect .twa-icocomment a {
        padding-top: 7px; }
    /* line 863, ../sass/screen.scss */
    nav .label {
      background: #f2f2f2;
      font-size: .8em;
      width: 50px;
      text-align: center;
      padding-top: 5px;
      margin: 0 auto;
      padding-bottom: 5px;
      border-radius: 4px;
      color: #444;
      margin-top: 3px;
      display: none;
      position: absolute;
      margin-left: 85px; }

  /* line 880, ../sass/screen.scss */
  .share a {
    margin-bottom: 10px; }

  /* line 884, ../sass/screen.scss */
  #comments ul.relatedcontent {
    margin-top: 40px; }
    /* line 886, ../sass/screen.scss */
    #comments ul.relatedcontent li {
      width: 100%; }
      /* line 888, ../sass/screen.scss */
      #comments ul.relatedcontent li h2 {
        width: 100%; }

  /* line 902, ../sass/screen.scss */
  #container {
    padding-left: 7%; }

  /* line 906, ../sass/screen.scss */
  article {
    width: 90%; } }
