/* line 17, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'twa';
  src: url("../fonts/twa.eot");
  src: url("../fonts/twa.eot?#iefix") format("embedded-opentype"), url("../fonts/twa.svg#twa") format("svg"), url("../fonts/twa.woff") format("woff"), url("../fonts/twa.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to have a class per icon */
/* line 13, ../sass/_fonts.scss */
.twa-icoarrow-up:before, .twa-icoarrow-down:before, .twa-icotwitter:before, .twa-icotriangle:before, .twa-icorss:before, .twa-icoprev:before, .twa-iconext:before, .twa-icomenu:before, .twa-icoimage:before, .twa-icocomment:before {
  font-family: 'twa';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* line 21, ../sass/_fonts.scss */
.twa-icoarrow-up:before {
  content: "\5b"; }

/* line 24, ../sass/_fonts.scss */
.twa-icoarrow-down:before {
  content: "\5d"; }

/* line 27, ../sass/_fonts.scss */
.twa-icotwitter:before {
  content: "\40"; }

/* line 30, ../sass/_fonts.scss */
.twa-icotriangle:before {
  content: "\5e"; }

/* line 33, ../sass/_fonts.scss */
.twa-icorss:before {
  content: "\24"; }

/* line 36, ../sass/_fonts.scss */
.twa-icoprev:before {
  content: "\6b"; }

/* line 39, ../sass/_fonts.scss */
.twa-iconext:before {
  content: "\6a"; }

/* line 42, ../sass/_fonts.scss */
.twa-icomenu:before {
  content: "\23"; }

/* line 45, ../sass/_fonts.scss */
.twa-icoimage:before {
  content: "\21"; }

/* line 48, ../sass/_fonts.scss */
.twa-icocomment:before {
  content: "\25"; }

/* line 53, ../sass/_fonts.scss */
nav #connect a .twa-icocomment {
  font-size: 30px; }

/* line 57, ../sass/_fonts.scss */
nav #connect a .twa-icotwitter {
  font-size: 32px;
  margin-bottom: 20px; }

/* line 62, ../sass/_fonts.scss */
nav #connect a .twa-icorss {
  font-size: 28px; }

/* line 7, ../sass/style.scss */
body {
  background: #f7f7f7;
  font-family: "proxima-nova-1","proxima-nova-2", Hevetica, sans-serif; }

/* line 12, ../sass/style.scss */
::-moz-selection {
  background: #FEEDB0;
  color: #000;
  text-shadow: none; }

/* line 13, ../sass/style.scss */
::selection {
  background: #FEEDB0;
  color: #000;
  text-shadow: none; }

/* line 15, ../sass/style.scss */
.wrapper {
  background: #FFF;
  position: relative;
  border-top: 1px solid #EEEEEE; }
  /* line 19, ../sass/style.scss */
  .wrapper .content {
    width: 1200px;
    margin: 0 auto;
    position: relative; }
  /* line 24, ../sass/style.scss */
  .wrapper.head {
    background: #f7f7f7; }
    /* line 26, ../sass/style.scss */
    .wrapper.head .nav {
      width: 1200px;
      margin: 0 auto;
      padding-left: 30px;
      padding-right: 30px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
  /* line 34, ../sass/style.scss */
  .wrapper.footnotes {
    background: #f7f7f7; }
    /* line 36, ../sass/style.scss */
    .wrapper.footnotes .content {
      padding-top: 0px; }

/* line 43, ../sass/style.scss */
.bumpy {
  width: 100%;
  position: fixed;
  height: 30px; }

/* line 49, ../sass/style.scss */
.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 40px;
  padding-bottom: 0px;
  position: relative;
  z-index: 2; }
  /* line 55, ../sass/style.scss */
  .content:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

/* line 64, ../sass/style.scss */
.nav ul li {
  position: relative;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

/* line 68, ../sass/style.scss */
.nav ul li ul {
  display: none;
  width: 205px;
  background: #ffd167;
  position: absolute;
  z-index: 3;
  right: 0px;
  margin-top: 7px;
  padding: 13px 20px 5px 20px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s; }
  /* line 78, ../sass/style.scss */
  .nav ul li ul li {
    display: block;
    padding-top: 4px; }
    /* line 81, ../sass/style.scss */
    .nav ul li ul li a {
      color: #222;
      text-transform: capitalize;
      letter-spacing: 0px;
      display: block; }
      /* line 86, ../sass/style.scss */
      .nav ul li ul li a:hover {
        text-decoration: underline; }

/* line 93, ../sass/style.scss */
.nav ul li.collections:hover ul {
  display: block; }

/* line 97, ../sass/style.scss */
.nav {
  padding-top: 50px;
  padding-bottom: 25px;
  position: relative;
  z-index: 6; }
  /* line 102, ../sass/style.scss */
  .nav h1 {
    display: inline-block;
    font-size: 1.25em; }
    /* line 105, ../sass/style.scss */
    .nav h1 .gem {
      background: url("../images/thewhyaxis.png");
      background-size: 29px 25px;
      display: block;
      width: 29px;
      height: 25px;
      float: left;
      margin-top: -3px;
      margin-right: 7px; }
    /* line 115, ../sass/style.scss */
    .nav h1 a {
      text-decoration: none;
      color: #333; }
  /* line 120, ../sass/style.scss */
  .nav ul {
    float: right;
    display: inline-block; }
    /* line 123, ../sass/style.scss */
    .nav ul li {
      display: inline-block;
      padding-left: 3px; }
      /* line 126, ../sass/style.scss */
      .nav ul li a {
        text-decoration: none;
        color: #888;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
        padding: 5px; }
        /* line 133, ../sass/style.scss */
        .nav ul li a:hover {
          color: #333; }
    /* line 138, ../sass/style.scss */
    .nav ul:after {
      clear: both;
      content: ".";
      visibility: hidden;
      height: 0; }

/* line 148, ../sass/style.scss */
.archives .archive-item {
  display: block;
  width: 100%; }
  /* line 151, ../sass/style.scss */
  .archives .archive-item h2 {
    display: inline; }
    /* line 153, ../sass/style.scss */
    .archives .archive-item h2 a {
      font-weight: bold;
      text-decoration: none;
      font-size: 1.75em;
      color: #333;
      border-bottom: 1px solid #FFF;
      line-height: 120%;
      margin-bottom: 16px;
      display: inline-block; }
  /* line 164, ../sass/style.scss */
  .archives .archive-item .cover {
    width: 100%;
    float: left;
    padding-bottom: 50px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc; }
    /* line 170, ../sass/style.scss */
    .archives .archive-item .cover img {
      width: 150px;
      margin-bottom: 10px;
      float: left;
      margin-right: 10px; }
    /* line 176, ../sass/style.scss */
    .archives .archive-item .cover:after {
      clear: both;
      content: ".";
      visibility: hidden;
      height: 0; }
    /* line 182, ../sass/style.scss */
    .archives .archive-item .cover:hover {
      border-bottom: 1px solid #ccc; }
  /* line 186, ../sass/style.scss */
  .archives .archive-item .date {
    font-weight: bold;
    color: #ccc;
    margin-top: 6px;
    font-size: .91em;
    float: right; }
  /* line 193, ../sass/style.scss */
  .archives .archive-item:after {
    clear: both;
    content: ".";
    visibility: hidden;
    height: 0; }
  /* line 201, ../sass/style.scss */
  .archives .archive-item:hover h2 a {
    color: #e8b64e; }
/* line 208, ../sass/style.scss */
.archives:after {
  clear: both;
  content: ".";
  visibility: hidden;
  height: 0; }

/* line 217, ../sass/style.scss */
ul.articles li {
  overflow: auto;
  zoom: 1;
  display: block;
  padding-bottom: 60px; }
  /* line 222, ../sass/style.scss */
  ul.articles li .hero {
    width: 35%;
    float: left; }
    /* line 225, ../sass/style.scss */
    ul.articles li .hero img {
      width: 100%; }
  /* line 229, ../sass/style.scss */
  ul.articles li .listing {
    width: 65%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px 0px 0px 30px; }
    /* line 234, ../sass/style.scss */
    ul.articles li .listing a {
      font-weight: bold;
      text-decoration: none;
      font-size: 1.75em;
      color: #333;
      border-bottom: 1px solid #FFF;
      line-height: 120%;
      margin-top: -8px;
      display: inline; }
      /* line 243, ../sass/style.scss */
      ul.articles li .listing a:hover {
        border-bottom: 1px solid #e8b64e; }
    /* line 247, ../sass/style.scss */
    ul.articles li .listing .date {
      font-weight: bold;
      color: #ccc;
      margin-top: 14px;
      margin-bottom: 25px;
      font-size: .91em; }
    /* line 254, ../sass/style.scss */
    ul.articles li .listing .excerpt {
      line-height: 143%;
      margin-top: 10px; }

/* line 262, ../sass/style.scss */
.article {
  position: relative; }
  /* line 264, ../sass/style.scss */
  .article h1 {
    font-weight: bold;
    font-size: 2em;
    width: 40%;
    margin-bottom: 30px;
    line-height: 105%; }
    /* line 270, ../sass/style.scss */
    .article h1 a {
      text-decoration: none;
      color: inherit; }
      /* line 273, ../sass/style.scss */
      .article h1 a:hover {
        color: #f2bb4c; }
  /* line 278, ../sass/style.scss */
  .article .timestamp {
    position: absolute;
    top: 0;
    right: 2px;
    font-weight: bold;
    color: #ccc;
    font-size: .91em; }
  /* line 286, ../sass/style.scss */
  .article h2 {
    font-size: 1.45em;
    font-weight: bold;
    margin-bottom: 1em; }
  /* line 291, ../sass/style.scss */
  .article .section {
    display: block;
    padding-bottom: 40px;
    width: 42%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 2%; }
    /* line 297, ../sass/style.scss */
    .article .section:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    /* line 304, ../sass/style.scss */
    .article .section p {
      line-height: 146%;
      padding-bottom: 1.25em;
      color: #222;
      font-size: 1.05em; }
      /* line 310, ../sass/style.scss */
      .article .section p a {
        border-bottom: 1px solid #e8b64e;
        color: #000;
        text-decoration: none; }
        /* line 314, ../sass/style.scss */
        .article .section p a:hover {
          background: #FEF9E3; }
      /* line 318, ../sass/style.scss */
      .article .section p em {
        font-style: italic; }
    /* line 322, ../sass/style.scss */
    .article .section ul {
      list-style: disc;
      padding-left: 25px;
      padding-right: 10px;
      margin-bottom: 1.25em; }
      /* line 327, ../sass/style.scss */
      .article .section ul li {
        padding-bottom: 12px;
        line-height: 145%; }
        /* line 330, ../sass/style.scss */
        .article .section ul li a {
          border-bottom: 1px solid #e8b64e;
          color: #000;
          text-decoration: none; }
          /* line 334, ../sass/style.scss */
          .article .section ul li a:hover {
            background: #FEF9E3; }
    /* line 340, ../sass/style.scss */
    .article .section blockquote {
      display: inline; }
      /* line 342, ../sass/style.scss */
      .article .section blockquote p {
        background: #FCF4D5;
        padding: 18px 20px 15px 20px;
        margin-bottom: 1.25em;
        line-height: 135%; }
    /* line 349, ../sass/style.scss */
    .article .section .graphic {
      width: 135%;
      float: right;
      margin-right: -149%; }
      /* line 353, ../sass/style.scss */
      .article .section .graphic img {
        width: 100%; }

/* line 363, ../sass/style.scss */
.comment-prompt {
  background: #FFF;
  border: 1px solid #e6e7e8;
  color: #444;
  font-weight: bold;
  text-decoration: none;
  padding: 16px 15px 15px 14px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  display: block;
  float: left;
  margin-right: 15px;
  margin-top: 30px; }
  /* line 375, ../sass/style.scss */
  .comment-prompt span {
    font-size: .9em;
    padding-right: 5px;
    padding-top: 2px; }
  /* line 380, ../sass/style.scss */
  .comment-prompt span.permalink {
    font-size: 1em;
    color: #CCC;
    padding-left: 3px; }
  /* line 385, ../sass/style.scss */
  .comment-prompt:hover {
    color: #f2bb4c;
    border-color: #f2bb4c; }

/* line 391, ../sass/style.scss */
.permalink {
  margin-top: 30px;
  padding: 3px 5px 4px 12px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  display: block;
  float: left;
  border: 1px solid #D9D9D9;
  background: #EBEBEB;
  font-size: 1em;
  font-family: "proxima-nova-1","proxima-nova-2", Hevetica, sans-serif; }
  /* line 401, ../sass/style.scss */
  .permalink .permalabel {
    font-weight: bold; }
  /* line 404, ../sass/style.scss */
  .permalink input {
    padding: 8px 8px 6px 8px;
    font-size: 1em;
    width: 263px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #D0D0D0;
    margin-left: 4px;
    font-family: "proxima-nova-1","proxima-nova-2", Hevetica, sans-serif; }

/* line 417, ../sass/style.scss */
.article-extension:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* line 426, ../sass/style.scss */
.footgrid {
  margin-top: 40px;
  padding-bottom: 120px; }
  /* line 429, ../sass/style.scss */
  .footgrid li {
    width: 24%;
    float: left;
    margin-right: 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background: #FFF;
    padding: 10px;
    border: 1px solid #e6e7e8; }
    /* line 438, ../sass/style.scss */
    .footgrid li img {
      width: 100%;
      margin-top: 8px; }
    /* line 442, ../sass/style.scss */
    .footgrid li h2 {
      line-height: 120%; }
      /* line 444, ../sass/style.scss */
      .footgrid li h2 a {
        text-decoration: none;
        color: #333;
        font-size: 1.2em;
        font-weight: bold; }
        /* line 449, ../sass/style.scss */
        .footgrid li h2 a:hover {
          color: #f2bb4c; }
  /* line 455, ../sass/style.scss */
  .footgrid:before, .footgrid:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

/* line 464, ../sass/style.scss */
.previously {
  width: 100%;
  background: #FFF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #FFF;
  height: 325px;
  overflow: hidden;
  padding: 30px;
  border: 1px solid #e6e7e8;
  margin-top: 50px;
  margin-bottom: -100px;
  position: relative;
  bottom: -20px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s; }
  /* line 480, ../sass/style.scss */
  .previously:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    bottom: -2px; }
  /* line 484, ../sass/style.scss */
  .previously img {
    width: 50%;
    float: right; }
  /* line 488, ../sass/style.scss */
  .previously h2 {
    width: 50%;
    float: left;
    display: block; }
    /* line 492, ../sass/style.scss */
    .previously h2 a {
      text-decoration: none;
      color: #333;
      line-height: 120%;
      font-size: 2em;
      font-weight: bold; }
      /* line 498, ../sass/style.scss */
      .previously h2 a:hover {
        color: #f2bb4c; }
  /* line 503, ../sass/style.scss */
  .previously .previously-tag {
    background: #f2bb4c;
    color: #444444;
    background: #EBEBEB;
    font-weight: bold;
    padding: 12px 14px 12px 14px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    float: left;
    margin-right: 400px;
    margin-bottom: 10px; }
  /* line 514, ../sass/style.scss */
  .previously:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

/* line 524, ../sass/style.scss */
#subscribebtn {
  background: #e6e7e8;
  color: #444;
  font-weight: bold;
  text-decoration: none;
  padding: 12px 14px 12px 14px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  width: 45%;
  display: block;
  margin-top: -25px;
  position: relative;
  z-index: 5; }
  /* line 536, ../sass/style.scss */
  #subscribebtn:hover {
    background: #e8b64e;
    color: #FFF; }
  /* line 540, ../sass/style.scss */
  #subscribebtn span {
    margin-right: 4px; }

/* line 546, ../sass/style.scss */
.footleft {
  width: 45%;
  padding-left: 0px;
  padding-right: 60px;
  padding-top: 40px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 1; }

/* line 557, ../sass/style.scss */
.footright {
  width: 55%;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 40px; }

/* line 566, ../sass/style.scss */
#disqus_thread {
  padding-bottom: 300px;
  font-family: "proxima-nova-1","proxima-nova-2", Hevetica, sans-serif !important; }
  /* line 569, ../sass/style.scss */
  #disqus_thread a {
    color: #e8b64e; }

/* line 574, ../sass/style.scss */
.article-meta {
  width: 100%;
  padding-right: 60px;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 579, ../sass/style.scss */
  .article-meta ul {
    padding: 0px 20px 20px 0px; }
    /* line 584, ../sass/style.scss */
    .article-meta ul li {
      color: #444;
      font-weight: bold;
      padding-top: 14px; }
      /* line 588, ../sass/style.scss */
      .article-meta ul li .meta-label {
        display: inline-block;
        padding-right: 6px;
        width: 115px; }
      /* line 594, ../sass/style.scss */
      .article-meta ul li a {
        color: #222;
        font-weight: normal;
        background: #FCF3D5;
        text-decoration: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        padding: 2px 6px; }
        /* line 601, ../sass/style.scss */
        .article-meta ul li a:hover {
          color: #111;
          background: #F7E39F; }

/* line 611, ../sass/style.scss */
h3 {
  font-weight: bold;
  border-bottom: 2px solid #E1E3E5;
  padding-bottom: 12px;
  padding-top: 12px;
  margin-bottom: 22px;
  color: #3f4549; }

/* line 621, ../sass/style.scss */
.relatedcontent li {
  background: #FFF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 16px; }
  /* line 627, ../sass/style.scss */
  .relatedcontent li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  /* line 634, ../sass/style.scss */
  .relatedcontent li img {
    width: 100%; }
  /* line 638, ../sass/style.scss */
  .relatedcontent li h2 {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 12px; }
    /* line 644, ../sass/style.scss */
    .relatedcontent li h2 a {
      text-decoration: none;
      font-weight: bold;
      color: #444;
      line-height: 115%;
      font-size: 1.4em; }
      /* line 650, ../sass/style.scss */
      .relatedcontent li h2 a:hover {
        color: #f2bb4c; }

/* line 658, ../sass/style.scss */
.reactions {
  margin-bottom: 40px; }

/* line 662, ../sass/style.scss */
.collection-hero {
  width: 100%;
  left: 0;
  z-index: 4;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  /* line 670, ../sass/style.scss */
  .collection-hero img {
    width: 100%;
    position: absolute; }

/* line 676, ../sass/style.scss */
.collection-hero.process {
  background-image: url("../../content/process/hero-h.jpg"); }

/* line 680, ../sass/style.scss */
.collection-hero.tools {
  background-image: url("../../content/tools/hero-h.jpg"); }

/* line 684, ../sass/style.scss */
.collection-hero.storytelling {
  background-image: url("../../content/storytelling/hero-h.jpg"); }

/* line 688, ../sass/style.scss */
.collection-hero.print-web {
  background-image: url("../../content/print-web/hero-h.jpg"); }

/* line 692, ../sass/style.scss */
.collection-hero.remakes {
  background-image: url("../../content/remakes/hero-h.jpg"); }

/* line 696, ../sass/style.scss */
.collection-hero.open-source {
  background-image: url("../../content/open-source/hero-h.jpg"); }

/* line 700, ../sass/style.scss */
.collection-hero.journalism {
  background-image: url("../../content/journalism/hero-h.jpg"); }

/* line 704, ../sass/style.scss */
.collection-hero.climate-change {
  background-image: url("../../content/climate-change/hero-h.jpg"); }

/* line 708, ../sass/style.scss */
.collection-description {
  z-index: 5;
  color: #FFF;
  width: 1200px;
  left: 50%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 50%;
  padding-top: 60px;
  padding-bottom: 120px; }
  /* line 718, ../sass/style.scss */
  .collection-description h1 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: .75em;
    margin-left: 35px; }
  /* line 724, ../sass/style.scss */
  .collection-description p {
    line-height: 135%;
    font-size: 1.1em;
    margin-left: 35px; }

/* line 731, ../sass/style.scss */
.collection-pg .content {
  z-index: 6;
  background: #FFF;
  width: 100%; }
  /* line 735, ../sass/style.scss */
  .collection-pg .content .article {
    width: 1200px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 100px; }
  /* line 743, ../sass/style.scss */
  .collection-pg .content .section {
    width: 100%;
    padding-bottom: 40px;
    padding-top: 60px; }
    /* line 748, ../sass/style.scss */
    .collection-pg .content .section img {
      margin-bottom: 12px;
      float: left;
      width: 35%;
      margin-right: 3%; }
    /* line 754, ../sass/style.scss */
    .collection-pg .content .section h2 {
      margin-bottom: .55em;
      margin-bottom: 10px; }
    /* line 758, ../sass/style.scss */
    .collection-pg .content .section p {
      margin: 0;
      padding: 0; }
    /* line 762, ../sass/style.scss */
    .collection-pg .content .section ul {
      margin: 0;
      padding: 0;
      border-top: 1px solid #DFDFDF;
      margin-top: 15px;
      width: 62%;
      float: right; }
      /* line 769, ../sass/style.scss */
      .collection-pg .content .section ul li {
        border-bottom: 1px solid #DFDFDF;
        display: block;
        padding-bottom: 10px;
        padding-top: 10px; }
        /* line 774, ../sass/style.scss */
        .collection-pg .content .section ul li a {
          border-bottom: none;
          display: block;
          padding-left: 5px;
          padding-right: 30px;
          background: url("../images/gem-small.png") no-repeat right 5px center;
          background-size: 18px 15px; }
          /* line 781, ../sass/style.scss */
          .collection-pg .content .section ul li a:hover {
            background-color: none;
            text-decoration: underline; }
          /* line 785, ../sass/style.scss */
          .collection-pg .content .section ul li a.external {
            background: url("../images/external.png") no-repeat right 7px center;
            background-size: 14px 14px; }

/* line 801, ../sass/style.scss */
.flexslider .slides a {
  text-decoration: none; }
/* line 808, ../sass/style.scss */
.flexslider .scroll-description {
  width: 1200px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 35px;
  padding-right: 40px;
  padding-bottom: 120px;
  padding-top: 60px;
  color: #FFF; }
  /* line 817, ../sass/style.scss */
  .flexslider .scroll-description h1 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: .6em; }
  /* line 822, ../sass/style.scss */
  .flexslider .scroll-description p {
    line-height: 125%;
    font-size: 1.1em; }

@media screen and (max-width: 1200px) {
  /* line 832, ../sass/style.scss */
  .wrapper .content {
    width: 100%; }
  /* line 837, ../sass/style.scss */
  .wrapper.head .nav {
    width: 100%; }

  /* line 843, ../sass/style.scss */
  .flexslider .scroll-description {
    width: 100%; }

  /* line 848, ../sass/style.scss */
  .collection-pg .collection-description {
    margin-left: 0;
    width: inherit;
    left: 0;
    padding-right: 0px; }
  /* line 855, ../sass/style.scss */
  .collection-pg .content .article {
    padding-left: 0%;
    width: 100%;
    padding-right: 0%; }

  /* line 862, ../sass/style.scss */
  .collection-hero {
    width: 100%; } }
@media screen and (max-width: 930px) {
  /* line 869, ../sass/style.scss */
  .wrapper .content {
    padding-left: 80px;
    padding-right: 80px; }
  /* line 873, ../sass/style.scss */
  .wrapper.head .nav {
    padding-right: 70px;
    padding-left: 70px; }

  /* line 880, ../sass/style.scss */
  .flexslider .scroll-description {
    padding-left: 80px;
    padding-right: 80px; }

  /* line 886, ../sass/style.scss */
  .article h1 {
    width: inherit;
    margin-bottom: 8px; }
  /* line 892, ../sass/style.scss */
  .article .timestamp {
    position: relative;
    font-weight: bold;
    color: #ccc;
    font-size: .91em;
    margin-bottom: 40px;
    display: block; }
  /* line 901, ../sass/style.scss */
  .article .section {
    width: 100%; }
    /* line 903, ../sass/style.scss */
    .article .section .graphic {
      width: 100%;
      float: none;
      margin-right: 0;
      margin-bottom: 30px; }

  /* line 914, ../sass/style.scss */
  .article-meta {
    width: 100%;
    padding-right: 0px; }

  /* line 919, ../sass/style.scss */
  .footleft {
    width: 100%;
    padding-right: 0px; }
    /* line 922, ../sass/style.scss */
    .footleft #disqus_thread {
      padding-bottom: 0px; }

  /* line 926, ../sass/style.scss */
  .footright {
    width: 100%; }

  /* line 931, ../sass/style.scss */
  .archives .archive-item h2 {
    display: block; }
  /* line 934, ../sass/style.scss */
  .archives .archive-item .date {
    float: left;
    margin-top: -10px;
    margin-bottom: 25px; }

  /* line 942, ../sass/style.scss */
  .collection-description h1 {
    margin-left: 75px;
    padding-right: 75px; }
  /* line 946, ../sass/style.scss */
  .collection-description p {
    margin-left: 75px;
    padding-right: 75px; }

  /* line 953, ../sass/style.scss */
  .footgrid .row {
    width: 100%;
    display: block;
    margin-bottom: 20px; }
    /* line 957, ../sass/style.scss */
    .footgrid .row:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
  /* line 965, ../sass/style.scss */
  .footgrid li {
    width: 48%;
    margin-right: 2%; }
    /* line 968, ../sass/style.scss */
    .footgrid li:nth-child(3) {
      background: #000; }
      /* line 970, ../sass/style.scss */
      .footgrid li:nth-child(3):after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }

  /* line 980, ../sass/style.scss */
  .break {
    display: block;
    width: 100%;
    height: 10px;
    padding-bottom: 10px; } }
@media screen and (max-width: 680px) {
  /* line 990, ../sass/style.scss */
  .wrapper .content {
    padding-left: 20px;
    padding-right: 20px; }
  /* line 995, ../sass/style.scss */
  .wrapper.head .nav {
    padding-left: 17px;
    padding-right: 12px; }

  /* line 1003, ../sass/style.scss */
  .collection-description h1 {
    margin-left: 20px;
    padding-right: 20px; }
  /* line 1007, ../sass/style.scss */
  .collection-description p {
    margin-left: 20px;
    padding-right: 20px; }

  /* line 1016, ../sass/style.scss */
  .home-pg .wrapper .content, .article-pg .wrapper .content {
    padding-left: 0px;
    padding-right: 0px; }
  /* line 1021, ../sass/style.scss */
  .home-pg .wrapper.head .nav, .article-pg .wrapper.head .nav {
    padding-left: 5.3%;
    padding-right: 5.3%; }

  /* line 1028, ../sass/style.scss */
  .footnotes {
    padding-left: 6%;
    padding-right: 6%; }

  /* line 1032, ../sass/style.scss */
  .article-meta {
    width: 100%;
    padding-right: 6%;
    padding-left: 6%; }

  /* line 1038, ../sass/style.scss */
  .article h1 {
    padding-left: 6%;
    padding-right: 6%; }
  /* line 1042, ../sass/style.scss */
  .article .timestamp {
    padding-left: 6%; }
  /* line 1045, ../sass/style.scss */
  .article .section {
    width: 100%;
    padding-left: 6%;
    padding-right: 6%; }
    /* line 1049, ../sass/style.scss */
    .article .section .graphic {
      width: 114%;
      float: none;
      margin-left: -7%;
      margin-bottom: 20px; }
      /* line 1054, ../sass/style.scss */
      .article .section .graphic .blockquote {
        padding-left: 6.5%; }

  /* line 1065, ../sass/style.scss */
  .collection-pg .content .article .section {
    padding-left: 0px;
    padding-right: 0px; } }
@media screen and (max-width: 600px) {
  /* line 1077, ../sass/style.scss */
  .wrapper.head .nav {
    padding-top: 25px;
    padding-bottom: 15px; }
    /* line 1083, ../sass/style.scss */
    .wrapper.head .nav ul {
      float: left;
      width: 100%;
      margin-top: 18px; }
      /* line 1088, ../sass/style.scss */
      .wrapper.head .nav ul li a {
        font-size: .8em; }
      /* line 1091, ../sass/style.scss */
      .wrapper.head .nav ul li.archives {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        display: block;
        padding-top: 5px;
        padding-bottom: 5px; }
      /* line 1098, ../sass/style.scss */
      .wrapper.head .nav ul li.collections {
        border-bottom: 1px solid #eee;
        display: block;
        padding-top: 5px;
        padding-bottom: 5px; }
      /* line 1104, ../sass/style.scss */
      .wrapper.head .nav ul li.twitter {
        position: absolute;
        right: 44px;
        top: 27px; }
      /* line 1109, ../sass/style.scss */
      .wrapper.head .nav ul li.rss {
        position: absolute;
        right: 20px;
        top: 27px; }
      /* line 1115, ../sass/style.scss */
      .wrapper.head .nav ul:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
    /* line 1123, ../sass/style.scss */
    .wrapper.head .nav:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

  /* line 1136, ../sass/style.scss */
  .archives .archive-item .cover img {
    display: none; }
  /* line 1139, ../sass/style.scss */
  .archives .archive-item .cover img:first-child {
    display: block;
    width: 100%; }

  /* line 1147, ../sass/style.scss */
  .flexslider .scroll-description {
    padding-right: 20px;
    padding-left: 20px; }

  /* line 1154, ../sass/style.scss */
  .collection-pg .content {
    padding-top: 0px; }
    /* line 1157, ../sass/style.scss */
    .collection-pg .content .article .section {
      padding-left: 0px;
      padding-right: 0px; }
      /* line 1160, ../sass/style.scss */
      .collection-pg .content .article .section img {
        width: 100%;
        float: none; }
      /* line 1164, ../sass/style.scss */
      .collection-pg .content .article .section ul {
        width: 100%; }

  /* line 1172, ../sass/style.scss */
  .collection-description {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px; }
    /* line 1174, ../sass/style.scss */
    .collection-description h1 {
      margin-left: 0px; }
    /* line 1177, ../sass/style.scss */
    .collection-description p {
      margin-left: 0px;
      padding-right: 20px;
      line-height: 125%; }

  /* line 1186, ../sass/style.scss */
  .article-extension {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 0px; }

  /* line 1191, ../sass/style.scss */
  .comment-prompt {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  /* line 1197, ../sass/style.scss */
  .permalink {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 1204, ../sass/style.scss */
    .permalink input {
      display: block;
      width: 96%;
      padding-right: 0px;
      margin-left: 0px;
      margin-top: 10px; }

  /* line 1215, ../sass/style.scss */
  .footgrid .row {
    margin-bottom: 0px; }
  /* line 1218, ../sass/style.scss */
  .footgrid li {
    width: 100%;
    margin: 0;
    margin-bottom: 20px; } }
